{% extends "my_base.html" %}
{% block title %} This is an example page {% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Registration</td>
                        <td>Username</td>
                        <td>Email</td>
                        <td>Session</td>
                        <td>Department</td>
                        <td>Roll</td>
                        <td>Address</td>
                        <td>Serial</td>
                        \
                    </tr>
                </thead>
            </table>
        </form>
    </div>
{% endblock %}

