{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %}
        Welcome Hall Management!
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
<div class="container border border-primary">
{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span class="navbar-brand">Hall Management
                {% if current_user.get_id() == 'admin' %}
                    (admin)
                {% endif %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </span>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{url_for('index')}}">Home</a>
                </li>

                {% if current_user.get_id() != 'admin' and current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('profile') }}">Profile</a>   
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('pay', id=current_user.get_id()) }}">Pay Due</a>   
                    </li>
                {% endif %}

                    {% if current_user.get_id()== 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link active" href=" {{ url_for('showall') }}">Show Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href=" {{ url_for('showtran') }}">Show Tran</a>
                    </li>
                    {% endif %}
              </ul>

                <ul class="navbar-nav">
                    {% if current_user.is_authenticated == False%}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href=" {{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
{% endblock %}



        <hr>
        {% with messages = get_flashed_messages() %}
        <ul class="list-group">
            {% if messages %}
                    {% for message in messages %}
                        <li class="list-group-item active alert alert-primary" role="alert"> {{ message }} </li>
                    {% endfor %}
            {% endif %}
        </ul>
        {% endwith %}
        <br>

{% block content %}{% endblock %}
</div>
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% endblock %}