{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block head %}
    {{ super() }}
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title> Welcome Hall Management!</title>
    {% endif %}
{% endblock %}




{% block body %}
<body>
    <div class="container">
        {% block navbar %}
        <h4>Hall Management: 
            {% if current_user.get_id() == 'admin' %}
                (admin)
            {% endif %}
        </h4> 
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active btn btn-primary" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
                {% if current_user.is_authenticated == False%}
                    <a class="nav-link active btn btn-primary" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if current_user.is_authenticated %}
                    <a class="nav-link active btn btn-primary" href=" {{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a class="nav-link active btn btn-primary" href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </li>
        </ul>
        {% endblock %}

        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

    </div>
</body>

{% endblock %}