{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<!--<div class="navbar navbar-fixed-top"></div>-->
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alret alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}


    <div class="h1">
        {{ user.name }}
        {{ user.reg }}
        {{ user.email }}
        {{ user.session }}
    </div>
</div>
{% endblock %}