{% extends "base.html" %}

{% block content %}
{{super()}}
        <form action="" method="post" class="form" role="form">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Sort">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Search">
                <button class="btn btn-outline-info" type="submit">Search</button>
        </form><br><br>
<div class="table-responsive">
        {{ table_data }}
</div>
{% endblock %}